.home-header-container {
       height: 70px;
       width: 100%;
       padding: 0 80px;

       .home-header-content {
              width: 100%;
              height: 100%;
              display: flex;

              .left-content {
                     width: 25%;
                     display: flex;
                     padding: 0 20px;
                     align-items: center;

                     .header-logo {
                            background: url("../../assets/logo.svg") center center no-repeat;
                            height: 55%;
                            width: 55%;
                            cursor: pointer;
                     }

                     i {
                            font-size: 23px;
                            cursor: pointer;
                            padding-right: 10px;
                     }
              }

              .center-content {
                     width: 50%;
                     display: flex;
                     justify-content: space-between;
                     align-items: center;

                     .child-content {
                            cursor: pointer;

                            .subs-title {
                                   font-weight: 400px;
                                   font-size: 13px;
                            }
                     }
              }

              .right-content {
                     width: 25%;
                     display: flex;
                     justify-content: right;
                     align-items: center;

                     .support {
                            cursor: pointer;
                            padding-right: 20px;

                            i {
                                   font-size: 15px;
                                   color: #757373;
                            }

                            &:hover {
                                   color: black;
                                   font-weight: bold;
                            }
                     }

                     .language-vi {
                            margin: 0 5px;
                            background: #c9c6b898;
                            width: 25px;
                            height: 25px;
                            padding-top: 4px;
                            border-radius: 50%;
                            box-shadow: 0px 1px 4px rgb(0, 0, 0);
                            text-align: center;
                            font-size: 13px;
                            font-weight: bold;
                            cursor: pointer;
                            opacity: 0.3;

                            &.active {
                                   opacity: 1;
                                   background: #f7d800;
                            }

                            &:hover {
                                   opacity: 1;
                                   background: #f7d800;
                                   width: 27px;
                                   height: 27px;
                                   font-size: 14px;
                            }
                     }

                     .language-en {
                            opacity: 0.3;
                            margin: 0 5px;
                            background: #c9c6b898;
                            width: 25px;
                            height: 25px;
                            padding-top: 4px;
                            border-radius: 50%;
                            box-shadow: 0px 1px 4px rgb(0, 0, 0);
                            text-align: center;
                            font-size: 13px;
                            font-weight: bold;
                            cursor: pointer;

                            &.active {
                                   opacity: 1;
                                   background: #0fb5e7de;
                            }

                            &:hover {
                                   opacity: 1;
                                   background: #0fb5e7de;
                                   width: 27px;
                                   height: 27px;
                                   font-size: 14px;
                            }
                     }
              }
       }
}

.home-header-banner {
       background-image: url("../../assets/header-background.jpg"),
              linear-gradient(rgba(85, 57, 57, 0.25), rgba(255, 255, 255, 0.1));
       height: 485px;
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       margin: 5px 0;
       display: flex;
       flex-direction: column;

       .content-up {
              background-image: linear-gradient(rgba(0, 0, 0, 0.219),
                            rgba(228, 205, 205, 0.027));
              height: 65%;

              .title1 {
                     color: white;
                     text-align: center;
                     font-size: 35px;
                     text-shadow: 1px 1px 1px #333;
                     padding-top: 50px;
                     margin-bottom: 8px;
                     font-family: "Lucida Console", "Courier New", monospace;
              }

              .title2 {
                     color: white;
                     text-align: center;
                     font-size: 37px;
                     text-shadow: 1px 1px 1px black;
                     font-weight: bold;
                     padding-bottom: 15px;
                     font-family: "Times New Roman", Times, serif;
              }

              .search {
                     width: fit-content;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     margin: 0 auto;
                     padding: 10px;
                     border-radius: 25px;
                     background-color: #f7d800;

                     i {
                            margin: 0 5px;
                     }

                     input {
                            height: 30px;
                            width: 360px;
                            background: transparent;
                            border: none;
                            outline: none;
                     }
              }
       }

       .content-down {
              height: 35%;
              background-image: linear-gradient(rgba(228, 205, 205, 0.027),
                            rgb(255, 255, 255));
              align-items: flex-end;
              display: flex;
              justify-content: center;
              padding-bottom: 15px;

              .options {
                     text-align: center;
                     display: flex;
                     grid-gap: 50px;
                     justify-content: center;

                     .option-child {
                            width: 120px;
                            height: 120px;

                            .icon-child {
                                   text-shadow: 1px 1px 1px rgb(25, 50, 56);
                                   color: rgb(132, 200, 218);
                                   background: rgb(242, 245, 209);
                                   width: 50px;
                                   height: 50px;
                                   padding-bottom: 1px;
                                   border-radius: 50%;
                                   box-shadow: 1px 2px 5px rgb(202, 194, 194);
                                   text-align: center;
                                   margin: 0 auto;
                                   font-size: 30px;
                                   cursor: pointer;
                            }

                            .text-child {
                                   font-size: 18px;
                                   padding-top: 10px;
                                   font-weight: 500;
                                   cursor: pointer;
                                   font-family: "Times New Roman", Times, serif;

                                   &:hover {
                                          color: rgb(53, 201, 238);
                                   }
                            }
                     }
              }
       }
}