.section-specialty {
       height: 350px;
       background: #f5f2f2;
       border-bottom: 3px solid #dad9dd;
       border-top: 3px solid #dad9dd;

       .specialty-container {
              margin: 0 100px;
              display: flex;
              flex-direction: column;

              .specialty-header {
                     height: 60px;
                     margin-bottom: 30px;
                     padding-top: 30px;

                     .title-section {
                            font-size: 22px;
                            font-weight: 600;
                            text-transform: uppercase;
                     }

                     .btn-section {
                            float: right;
                            display: block;
                            border: none;
                            padding: 10px 15px;
                            background: #d1cece;
                            color: black;


                            &:hover {
                                   background: #f7d800;
                                   color: #eee;
                            }
                     }
              }

              .specialty-body {
                     .specialty-customize {
                            .bg-image {
                                   background: url('../../../assets/specialty/co-xuong-khop.jpg');
                                   width: 278px;
                                   height: 150px;
                                   background-position: center center;
                                   background-repeat: no-repeat;
                                   background-size: cover;
                                   background-color: #eee;
                            }
                     }

                     .slick-prev {

                            //position: relative !important;
                            left: -10px !important;
                            z-index: 1000 !important;
                            height: 48px !important;
                            width: 44px !important;
                            background: #e7d8d8ec;
                            border: 2px solid gray;

                            &:hover {
                                   background: white !important;
                            }

                     }

                     .slick-prev:before {
                            font-family: FontAwesome !important;
                            color: gray;
                     }

                     .slick-next {
                            right: -10px !important;
                            z-index: 1000 !important;
                            height: 48px !important;
                            width: 44px !important;
                            background: #e7d8d8ec;
                            border: 2px solid gray;


                            &:hover {
                                   background: white !important;
                            }
                     }

                     .slick-next:before {
                            font-family: FontAwesome !important;
                            color: gray !important;
                     }
              }
       }
}